{
	"database": {
		"name": "rabbitmq",
		"duration": "365d",
		"replication": "1"
	},
	"hostname": "localhost",
	"cpu_usage_frequency": 1,
	"memory_usage_frequency": 1,
	"disks_io_stats_frequency": 1,
	"disks_usage_frequency": 1,
	"include_disks":["sda"],
	"include_partitions":["/dev/sda1"]
}